<div class="tab-header-stats">
	<div class="tab-header-stat-item big-stat-block">
		<svg class="icon" style="padding-left: 18rem; height: 50%; color:#632CA6">
			<use xlink:href="/assets/dashboard.svg#alert"></use>
		</svg>
		<span class="stat-content">Host Not Found</span>
		<span>Unable to find host details for this instance.</span>
	</div>
</div>

<style>
.badge {
	background-color: #632CA6;
}
.big-stat-block {
  margin-top: 15px;
  margin-bottom: 40px;
}

.resource-detail .type-logo .logo {
	margin-top: 0px;
}
.instance .incident-stats .status-icon {
  margin-top: 10px;
  margin-bottom: 10px;
}

.instance .incident-stats {
  margin-bottom: 22px;
}
</style>