<div>
<h2>Overview</h2>
<div class="tab-header-stats">
	<div class="type-logo">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/7/7e/Datadog_logo.svg/1200px-Datadog_logo.svg.png" alt="MongoDB" class="logo missing-logo" onerror="loadImage(this);" onload="sizeImage(this)" style="max-height: 80px; max-width: 140px;">
	</div>
	<div class="tab-header-stat-item big-stat-block">
		<span class="stat-content">N/A</span>
		<span class="stat-label">Name</span>
	</div>
	<div class="tab-header-stat-item big-stat-block">
		<span class="stat-content">N/A</span>
		<span class="stat-label">Status</span>
	</div>
	<div class="tab-header-stat-item big-stat-block">
		<span class="stat-content">N/A</span>
		<span class="stat-label">Mute Status</span>
	</div>
	<div class="tab-header-stat-item big-stat-block">
		<span class="stat-content">N/A</span>
		<span class="stat-label"># of Checks</span>
	</div>
	<div class="tab-header-stat-item big-stat-block">
		<span class="stat-content">N/A</span>
		<span class="stat-label">Agent Version</span>
	</div>
</div>
<h2>Agent Checks</h2>

<style>
.big-stat-block {
  margin-top: 15px;
  margin-bottom: 40px;
}
</style>

<script src="{{asset "/instance-tab.js"}}" ></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>